<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using MealSplit!</h1>
    <h3>Summary of your recent meal at <%= @restaurant_name %>:</h3>
    <% @participants.each do |participant| %>
    	<br>
      <h5><%= participant.email %></h5>
      <% participant.food_items.each do |item| %>
  		  <p><%= item.name %>: <%= item.cost_pretty %></p>
  	  <% end %>
      <p>Item Total: <%= number_to_currency(participant.subtotal.to_f/100, :unit => "$") %></p>
      <p>Tax: <%= number_to_currency(participant.tax.to_f/100, :unit => "$") %></p>
      <% tip = (@meal.tip_percent.to_f/100)*(participant.subtotal.to_f/100) %>
      <p>Tip: <%= number_to_currency(tip, :unit => "$") %></p>
      <p><b>Total: <%= number_to_currency(participant.subtotal.to_f/100+participant.tax.to_f/100+tip, :unit => "$") %></b></p>
      <br>
    <% end %>
    Yummy yummy!
  </body>
</html>