<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using MealSplit!</h1>
    <h3><b><%= @meal_leader %></b> is asking for payment for your recent meal at <b><%= @restaurant %>.</b></h3>
    <% @items.each do |item| %>
		<p><%= item.name %>: <%= item.cost_pretty %></p>
	<% end %>
    <p>Total: <b><%= number_to_currency(@payment_amount.to_f/100, :unit => "$") %></b></p>
    <h4>Yum Yum!</h4>
  </body>
</html>