<% provide(:onload_js, "populate_food_item_typeahead(#{@restaurant.id});") %>

<h1>Enter in Food Items for <%= @participant.email %></h1>

<% @participant.food_items.each do |food_item| %>
  <% if !food_item.id.nil? %>
    <div>
      <strong>Food Item</strong> 
      <%= food_item.name+","%>
      <%= number_to_currency(food_item.cost.to_f/100) %>
      <%= link_to "Destroy", destroy_food_item_path(@meal, @participant), method: :delete, data: {confirm: "Sure dude?"} %>
    </div>
  <% end %>
<% end %>

<%= form_for([@meal, @participant]) do |f| %>
  <div>
    <%= label_tag(:new_food_item, "Food Item", class: 'food-item-label') %>
    <%= text_field_tag(:new_food_item, "", class: "food-item-input") %>
  </div>
  <div>
    <%= submit_tag("Add Food Item", class: 'btn btn-primary') %>
  </div>
<% end %>

<br />

<%= link_to "Next Participant >>", @meal.next_participant_path,
    class: "btn btn-primary" %>
<br/>
<p>Or choose the next participant to enter items for:</p>
<% @meal.participants.each do |participant| %>
  <% if participant.id != @participant.id %>
    <%= link_to participant.email, edit_meal_participant_path(@meal, participant) %>
  <% end %>
<% end %>

<p>Changed your mind?
<%= link_to "Start Over", new_meal_path,
    class: "btn btn-sm" %></p>

