<!-- primary author: Vic -->
<% provide(:onload_js, "populate_food_item_typeahead(#{@restaurant.id});") %>


<div class="row">
  <div class="col-md-8">
    <h1>Enter in Food Items for <%= @participant.email %></h1>

    <% if @participant.food_items.count != 0 %>
      <h2>Your current tally</h2>
    <% end %>
    <div id="food-items">
      <%= render partial: 'food_item', collection: @participant.food_items %>
    </div>

    <h2>What did you get?</h2>
    <%= form_for([@meal, @participant], html: {class: "form-group", role: "form"}) do |f| %>
      <div class="form-group">
        <%= text_field_tag(:new_food_item, "", id: "food-item-input", class: "form-control", placeholder: "A yummy...") %>
      </div>
      
      <div class="form-group">
        <%= submit_tag("Add Food Item", class: 'btn btn-primary action-button') %>
        <!-- <span class='btn btn-primary action-button' onclick="add_food_item('<%#= meal_participant_path(@meal, @participant) %>');">Add Food Item</span> -->
      </div>
    <% end %>

    <br />

    <% if @meal.unprocessed_participants.empty? %>
      <%= link_to "Meal Summary and Confirmation", meal_path(@meal), class: "btn btn-success" %>
    <% elsif @meal.unprocessed_participants.count == 1 && @meal.unprocessed_participants.first == @participant %>  
      <span>This is the last participant without food entered. Enter in a food item here and you can move on to the meal confirmation page.</span>
    <% else %>
      <%= link_to "Next Participant >>", edit_meal_participant_path(@meal, @meal.next_participant), class: "btn btn-primary" %>
    <% end %>

  </div>

  <div class="col-md-4">
    <h2>Edit another participant</h2>
    <p>You can also click next participant to jump to the next participant who hasn't entered in their food items.</p>
    <% @meal.participants.each do |participant| %>
      <% if participant.id != @participant.id %>
        <%= link_to "Edit #{participant.email}", edit_meal_participant_path(@meal, participant), class: "btn btn-default" %>
      <% end %>
    <% end %>
    <h2>Manage participants</h2>
    <p>Did you forget that Jim was there? Or did Susan not order anything? Go back to the participant management page to update who was at the meal.</p>
    <%= link_to "Back to participant management", meal_participants_path(@meal), class: "btn btn-default" %>
    
    <h2>Meal summary page</h2>
    <p>On the meal summary page you can go over the charges, set the tip then send out emails.</p>
    <% if @meal.unprocessed_participants.empty? %>
      <%= link_to "Summary Page", meal_path(@meal), class: "btn btn-default" %>
    <% else %>
      <%= link_to "Summary Page", meal_path(@meal), class: "btn btn-default", disabled: 'disabled' %>
      <p>You can view the meal summary once all food item information for all of the participants has been entered.</p>
    <% end %>

  </div>
</div>
