<% provide(:onload_js, "populate_food_item_typeahead(#{@restaurant.id});") %>

<h1>Enter in Food Items for <%= @participant.email %></h1>

<% @participant.food_items.each do |food_item| %>
  <% if !food_item.id.nil? %>
    <div>
      <strong>Food Item</strong> 
      <%= food_item.name %>
      <%= food_item.cost %>
      Destroy link
    </div>
  <% end %>
<% end %>

<%= form_for([@meal, @participant]) do |f| %>
  <div>
    <%= label_tag(:new_food_item, "Food Item", class: 'food-item-label') %>
    <%= text_field_tag(:new_food_item, "", class: "food-item-input") %>
  </div>
  <div>
    <%= submit_tag("Add Food Item", class: 'btn btn-primary') %>
  </div>
<% end %>

<br />
<p>Done adding participants?</p>

<%= link_to "Next Participant >>", edit_meal_participant_path(@meal, @meal.next_participant),
    class: "btn btn-primary" %>

<p>Or choose the next participant to enter items for:</p>
<% @meal.participants.each do |participant| %>
  <% if participant.id != @participant.id %>
    <%= link_to participant.email, edit_meal_participant_path(@meal, participant) %>
  <% end %>
<% end %>