<!-- primary author: Vic -->
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h1>Who ate at <%= @restaurant.name %>?</h1>

    <p>Please list the email of who paid for the receipt and the emails of everyone at the meal.</p>

    <% if @meal.participants.count != 0 %>
      <h2>Meal Participants</h2>
    <% end %>
    <%= render @meal.participants %>
  
    <h2>Who was there?</h2>
    <%= form_for([@meal, @new_participant], html: {role: 'form', class: 'form-group'}) do %>
      <div class='form-group'>
        <%= text_field_tag(:new_meal_participant, '', class: 'form-control', placeholder: 'sample@email.com') %>
      </div>
      <div class="form-group">
        <%= submit_tag("Add participant", class: 'btn btn-primary form-control') %>
      </div>
    <% end %>

    <% if @meal.participants.count > 1 %>
      <br />
      <p>Done adding participants?</p>

      <%= link_to "Begin entering food items >>", edit_meal_participant_path(@meal, @meal.participants.first),
          class: "btn btn-success" %>
    <% else %>
      <p>To move on you need to have at least two participants. You didn't eat alone, did you?</p>
      <%= link_to "Begin entering food items >>", edit_meal_participant_path(@meal, @meal.participants.first),
          class: "btn btn-success", disabled: "disabled" %>
    <% end %>
  </div>
</div>