<h1>Who ate at <%= @restaurant_name %>?</h1>

<p>Please list the email of who paid for the receipt and the emails of everyone at the meal.</p>

<% @meal.participants.each do |participant| %>
  <% if !participant.id.nil? %>
    <div>
      <strong>Meal Participant</strong> 
      <%= participant.email %>
      <%= link_to "Destroy", meal_participant_path(@meal, participant), method: :delete, data: {confirm: "Sure dude?"} %>
    </div>
  <% end %>
<% end %>

<%= form_for([@meal, @new_participant]) do %>
  <div>
    <%= label_tag(:new_meal_participant, "Meal Participant", class: 'participant-label') %>
    <%= text_field_tag(:new_meal_participant) %>
  </div>
  <div>
    <%= submit_tag("Add Participant", class: 'btn btn-primary') %>
  </div>
<% end %>

<br />
<p>Done adding participants?</p>
