<h1>Confirm Meal Details</h1>

<h2>Restaurant:</h2>
<p><%= @restaurant_name %></p>

<h2>Participants:</h2>
<% @meal.participants.each do |participant| %>
	<h3><%= participant.email %></h3>
	<h5>Items:</h5>
	<% participant.food_items.each do |item| %>
		<p><%= item %>: <%= item.cost %></p>
	<% end %>
	<% if !participant.payer %>
		<h5>Total:</h5><p>$<%= participant.owes %></p>
		<p>Request will be sent to: <%= participant.email %>.</p>
	<% end %>
	<%= button_to "Edit "+participant.email+"'s Order", edit_meal_participant_path(@meal, participant), :method => "get" %>
<% end %>

<%= form_tag(meal_path+"/complete_meal", method: "post") do %>
  <%= submit_tag("Send Payment Requests") %>
<% end %>