<!-- primary author: Vic -->
<% provide(:onload_js, "setup_tip_buttons();") %>

<div class="row" >
  <div id="meal-summary" class="col-md-6 col-md-offset-3">
    <h1>Summary for meal at <%= @restaurant.name %></h1>
    <%= render partial: 'meals/participant', collection: @meal.participants %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@meal, html: {role: 'form', class: 'form-group'}, method: "put") do %>
      <div class="form-group">
        <%= label_tag(:tip_percent) %>
        <%= hidden_field :meal, :tip_percent, value: 0 %>
        <div id="tip-percent-input" class="btn-group">
          <span class="btn btn-default active" data-value="0">0%</span>
          <span class="btn btn-default" data-value=".10">10%</span>
          <span class="btn btn-default" data-value=".15">15%</span>
          <span class="btn btn-default" data-value=".20">20%</span>
        </div>
      </div>
      <%= submit_tag("Send Payment Requests", class: "btn btn-success") %>
    <% end %>
  </div>
</div>